@media (prefers-color-scheme: light) {
  .logo { stroke: #414558; fill: none; }
}
@media (prefers-color-scheme: dark) {
  .logo { stroke: #f2f2f2; fill: none; }
}

.logo-sm svg {
  width: 10px;
  height: 10px;
}

.logo-md svg {
  width: 25px;
  height: 25px;
}

.logo-lg svg {
  width: 50px;
  height: 50px;
}

.divider {
  width: 1px;
  height: auto;
  background-color: var(--grey-light);
}

.visited {
  color: var(--visited);
}

.sitemap {
  width: 250px;
  flex: 0 0 250px;
  margin: 0;
  padding-bottom: 2rem !important;
  overflow-y: auto;
  height: calc(100vh - 3px - (3 * var(--line-height)));
}

.post {
  max-width: 650px;
  height: calc(100vh - 3px - (3 * var(--line-height)));
  overflow-y: auto;
  padding-right: 20px;
}

.post-container {
  max-width: 60rem;
}

.container-xs {
  max-width: 20em;
  width: 100%;
}

.hero {
  padding: calc(var(--line-height) * 3) 0 0 0;
}

.home-features pre {
  margin: 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: calc(var(--line-height) - 4px);
}

.features h3 {
  border: none;
}

.mk-nav {
  padding: var(--line-height);
}

.pager {
  min-width: 150px;
}

.sitemap-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.sidebar-list {
  padding: 0 0 0 var(--line-height);
}

.post-group {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0 0.75rem;
  }

  header {
    margin: 0;
  }

  .post-group {
    display: block;
  }

  .post {
    height: 100%;
    overflow-y: unset;
    padding-right: 0;
  }

  .sitemap {
    column-count: 2;
    width: 100%;
    margin-bottom: calc(2 * var(--line-height));
  }

  .sitemap-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .mk-nav {
    padding: var(--line-height) 0;
  }

  .divider {
    display: none;
  }
}
