{{template "base" .}}

{{define "title"}}{{.Data.Title}}{{end}}

{{define "meta"}}
{{end}}

{{define "attrs"}}class="container"{{end}}

{{define "body"}}
{{template "nav" .}}

<main>
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-center hero">
      <div class="flex flex-col items-center gap-2">
        <h1 class="logo-header text-2xl">sish</h1>
        <div class="text-center text-lg">Host public web services on localhost</div>
        <a href="/getting-started" class="btn-link">GET STARTED</a>
      </div>
    </div>

    <article class="features">
      <div class="box">
        <h2 class="m-0 p-0 text-lg">
          Tunnels to localhost using SSH
        </h2>
        <p>Using SSH tunnels, we can forward requests to your localhost from <a href="/forwarding-types">https, wss, and tcp</a>.</p>
      </div>

      <div class="box">
        <h2 class="m-0 p-0 text-lg">
          Self-hosted ngrok alternative
        </h2>
        <p>With docker it is easier than ever to deploy <code>sish</code> to your own VM.</p>
      </div>

      <div class="box">
        <h2 class="m-0 p-0 text-lg">
          Fully managed service <a href="https://tuns.sh">tuns.sh</a>
        </h2>
        <p>We also manage an instance of <code>sish</code> so you can start using it immediately.</p>
      </div>
    </article>

    <article>
      <div class="hiw">
        <img src="./hiw-sish-public.png" alt="hiw-sish-public" />
      </div>

      <div class="flex justify-center">
        <a href="/how-it-works" class="mt-4 btn-link">LEARN MORE</a>
      </div>
    </article>
  </div>

  <hr class="my-4" />

  {{template "footer" .}}
</main>
{{end}}
