{{define "nav"}}
<nav class="mk-nav">
  <div class="flex flex-wrap items-center justify-center gap-2">
    <a href="/" class="link-alt">
      sish
    </a>
    <a href="/sitemap" class="link-alt">
      sitemap
    </a>
    <a href="https://github.com/antoniomika/sish" class="link-alt">
      github
    </a>
    <a href="https://web.libera.chat/#sish" class="link-alt">
      irc
    </a>
  </div>
</nav>
{{end}}
