{{template "base" .}}

{{define "title"}}{{.Data.Title}}{{end}}

{{define "meta"}}
<meta name="description" content="{{.Data.Description}}" />
{{end}}

{{define "attrs"}}class="post-container"{{end}}

{{define "body"}}
{{template "nav" .}}

<div class="post-group">
  <main class="post">
    <h1 class="text-2xl text-hdr m-0 flex items-center">
      {{.Data.Title}}
    </h1>
    <p class="m-0">{{.Data.Description}}</p>

    <hr />

    <article class="md">
      {{.Data.Html}}
    </article>

    {{template "pager" .}}
    {{template "footer" .}}
  </main>

  {{template "sitemap-footer" .}}
</div>

{{end}}
