{{define "sitemap-footer"}}
<div class="sitemap text-sm mb-4">
  <ul class="list-none sidebar-list">
  {{range .Sitemap.Children}}
    {{if .Href}}
    <li class="text-md">
      {{if (eq $.Href .GenHref)}}
      <a href="{{.GenHref}}" class="link-alt-hover">{{.Text}}</a>
      {{else}}
      <a href="{{.GenHref}}" class="link-alt">{{.Text}}</a>
      {{end}}
    </li>
    {{else}}
    <li class="text-md">{{.Text}}</li>
    {{end}}

    {{range .Children}}
      <ul class="list-none sidebar-list">
        <li>
          {{if (eq $.Href .GenHref)}}
          <a href="{{.GenHref}}" class="link-alt-hover">{{.Text}}</a>
          {{else}}
          <a href="{{.GenHref}}" class="link-alt">{{.Text}}</a>
          {{end}}
        </li>
      </ul>
    {{end}}
  {{end}}
  </ul>
</div>
{{end}}
