{{define "toc"}}
<div class="sitemap-grid">
{{range .Sitemap.Children -}}
  {{if .Children}}
  <div class="box my">
    <h2 class="text-xl text-underline inline-block">{{.Text}}</h2>
    <ul class="list-none" style="padding-left: 0;">
    {{range .Children -}}
      <li>
        <a href="{{.GenHref}}">{{.Text}}</a>

        <ul class="list-disc" style="padding-left: 2rem;">
        {{range .Children}}
          <li>
            <a href="{{.GenHref}}">{{.Text}}</a>
          </li>
        {{end}}
        </ul>
      </li>
    {{- end}}
    </ul>
  </div>
  {{end}}
{{- end}}
</div>
{{end}}
